# node_modules

# /.cache
# /build
# .env
# Dependency directories
node_modules/
dist/
build/

# Environment files
.env

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/System files
.DS_Store
Thumbs.db

# Vite
.vite

# Editor folders
.vscode/
.idea/
